@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

:root {
  --blue-300: #b0e0e6;
  --blue-400: #add8e6;
  --blue-500: #87ceeb;
  --blue-600: #4169e1;
  --blue-700: #000080;
  --white: #fff;
  --grey-1: #ededed;
  --shadow-dark: rgba(0, 0, 0, 0.3);
  --shadow-light: rgba(255, 255, 255, 0.277);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  width: 100%;
  height: 100%;
  background-color: var(--blue-600);
  display: flex;
  justify-content: center;
  align-items: center;
}

fa-icon {
  color: #ffffff;
}

.container {
  width: 500px;
  height: 80vh;
  background-color: var(--blue-700);
  border-radius: 4px;
  margin-top: 2rem;
  overflow: hidden;
}

.upper-data {
  position: relative;
  width: 100%;
  height: 50%;
  object-fit: fill;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

.lower-data {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 50%;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  display: flex;
  flex-direction: column;
}

.upper-data img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.weather-data {
  position: relative;
  z-index: 1;
  width: 100%;
  height: 100%;
  background-color: var(--shadow-dark);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.location {
  color: var(--white);
  text-align: center;
  font-size: 1.2rem;
}

.temperature {
  color: var(--white);
  font-size: 4rem;
  text-align: center;
  font-weight: 900;
}

.more-info-label {
  color: var(--white);
  font-size: 1.2rem;
  font-weight: 300;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 0.5rem;
}

.more-info-container {
  flex: 1;
  background-color: var(--shadow-dark);
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  margin-top: 1rem;
  margin-bottom: 1rem;
  margin-left: 1rem;
  margin-right: 1rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.info-block {
  width: 50%;
  display: flex;
  flex-direction: row;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.info-block-label {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.info-block-label span {
  color: var(--white);
  font-size: 0.8rem;
  margin-top: 0.4rem;
}

.info-block-value {
  width: 50%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  color: var(--white);
}

.search {
  margin-top: 2rem;
  text-align: center;
}

.search input {
  background-color: var(--shadow-dark);
  outline: none;
  border: none;
  border-radius: 4px;
  padding: 1rem;
  color: var(--white);
  font-size: 0.8rem;
  text-align: center;
  width: 70%;
  font-family: inherit;
}

.search-icon {
  background-color: transparent;
  border: none;
  margin-left: 0.5rem;
  padding: 0.5rem;
  cursor: pointer;
  transition: 0.3s;
}

.search-icon:hover {
  opacity: 0.7;
}
